:root {
    background: #211f2c;
    color: white;
    font-family: "Calibri", sans-serif;

}

* {

}

html, body, .page {
    height: 100%;
    margin: 0 0 0 0;
}

.title {
    text-align: center;
    margin-bottom: 60px;
}

h1 {
    user-select: none;
    margin: 0 0 40px 0;
    font-family: "Broadway", cursive;
    font-size: 5rem;
    font-weight: 700;
    text-shadow: 5px 5px 0px #ef8ff6,
    10px 10px 0px #9286da,
    15px 15px 0px #13121a,
    16px 16px 0px #13121a,
    18px 18px 0px #13121a,
    20px 20px 0px #13121a;
    transition: all 300ms ease;
}

h1:hover {

    cursor: pointer;
    text-shadow: 10px 10px 0px #ef8ff6,
    20px 20px 0px #9286da,
    30px 30px 0px #13121a,
    31px 31px 0px #13121a,
    32px 32px 0px #13121a,
    33px 33px 0px #13121a;
}

.project {
    margin: 0 140px 0 140px;
    text-align: center;
    font-size: 1.5rem;
}

.social {
    margin: 0 140px 0 140px;
    text
    text-align: center;
    font-size: 1.5rem;
}

ul {
    display: inline-block;
}

h3 {
    text-shadow: 2px 2px 0px #ef8ff6,
    4px 4px 0px #9286da;
    text-align: center;
    margin: 0 0 0 0;
    height: 39px;
    font-size: 1.8rem;
    transition: 300ms linear;
}

h3:hover {

    text-shadow: 2px 2px 0px transparent;
    background: -webkit-linear-gradient(30deg, #ef8ff6, #ef8ff6, #9286da, #9286da);
    cursor: default;
    font-size: 2rem;
    -webkit-background-clip: text;
    color: transparent;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    background-image: url('blank.gif');
    width: 87px;
    height: 30px;
}

.webring {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

@media only screen and (max-width: 575px) {
    .project {
        margin: 0 70px 0 70px;

    }

    .social {
        margin: 0 70px 0 70px;

    }

}

@media only screen and (max-width: 440px) {
    .project {
        margin: 0 30px 0 30px;

    }

    .social {
        margin: 0 30px 0 30px;

    }

}

a {
    color: white;
}